@model List<TacoChallenge.Data.IEntity>
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>Elements count: @Model.Count элемента</h3>
<pre>
@foreach(var entity in Model)
{
    var resturant = (Resturant) entity;
    @resturant.ToString()
    <br />
}
</pre> 

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>


