@{
    ViewData["Title"] = "Feed me now";
}

<div class="row" style="margin-top:150px">
    <div class="col-lg-10 col-lg-offset-2">
        <nav class="navbar bg-light">
            <form class="form-horizontal" method="get">
                <div class=" form-group-lg">
                    <div class="col-sm-9">
                        <input class="form-control" type="search" name="searchField" placeholder="Any food you want" aria-label="Search" />
                    </div>
                    <button class="btn-lg btn-success" type="submit">Search</button>
                </div>
            </form>
        </nav>
    </div>
</div>
@if (!String.IsNullOrEmpty(ViewBag.SearchedFoodRequest) && !String.IsNullOrEmpty(ViewBag.SearchedLocationRequest))
{
    <div class="row">
        <div class="col-lg-10 col-lg-offset-2">
            <p>
                <strong>@ViewBag.SearchedFoodRequest</strong> resturants in <strong>@ViewBag.SearchedLocationRequest</strong> were found for you:
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            @await Html.PartialAsync("_FoodResult", ViewBag.FoundRestaurantsWithFood as List<FoodResultView>)
            @*@await Html.PartialAsync("_FoodResult", ViewBag.FoundRestaurantsWithFood as List<Resturant>)*@
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-lg-10 col-lg-offset-2">
            <p>
                <strong>Please tell us what food you want in search field↑ ☺</strong>
            </p>
        </div>
    </div>
}